Newcomponentdatatable/force-app/main/default/flows/O_p.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>OpportunityupdateRecords</name>
        <label>OpportunityupdateRecords</label>
        <locationX>804</locationX>
        <locationY>603</locationY>
        <assignmentItems>
            <assignToReference>UpdateNumberVar</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Opportunity_Received_Date_count</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NextFollowupdateCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Next_Followup_date_Count</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateAccount</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Next_Followup_date_Count</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Next_Followup_date__Count</label>
        <locationX>988</locationX>
        <locationY>519</locationY>
        <assignNextValueToReference>currentItem_Next_Followup_date_Count</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>OppDateFieldRecord</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Next_Followup_date_Count.Next_Followup_Date__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>OpportunityupdateRecords</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Opportunity_Received_Date_count</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Opportunity_Received_Date__count</label>
        <locationX>797</locationX>
        <locationY>395</locationY>
        <assignNextValueToReference>currentItem_Next_Followup_date_Count</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>OppDateFieldRecord</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Next_Followup_date_Count.Opportunity_Received_Date__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Next_Followup_date_Count</targetReference>
        </connector>
    </collectionProcessors>
    <environments>Default</environments>
    <interviewLabel>O[[p {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Date Rollup On Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>OppDateFieldRecord</name>
        <label>OppDateFieldRecord</label>
        <locationX>672</locationX>
        <locationY>340</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity_Received_Date_count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAccount</name>
        <label>UpdateAccount</label>
        <locationX>807</locationX>
        <locationY>749</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Opportunities_Followups__c</field>
            <value>
                <elementReference>NextFollowupdateCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Opportunities__c</field>
            <value>
                <elementReference>UpdateNumberVar</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>OppDateFieldRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity_Received_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Next_Followup_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Next_Followup_date_Count</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>currentItem_TotalOpportunitiesDate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>currentItem_TotalOpportunitiesFollowups</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>IdCollections</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NextFollowupdateCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NumVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>UpdateNumberVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
