Newcomponentdatatable/force-app/main/default/flows/Rollup_field_update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>assignment2</name>
        <label>assignment2</label>
        <locationX>50</locationX>
        <locationY>3191</locationY>
        <assignmentItems>
            <assignToReference>QALFollowupDates</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>QALFollowupDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SALFollowupDates</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>SALFollowupDate_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Field_update_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_totalCountalldate</name>
        <label>Copy 1 of totalCountalldate</label>
        <locationX>50</locationX>
        <locationY>1751</locationY>
        <assignmentItems>
            <assignToReference>tempcount1</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>MeetingHeldDatecollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcount2</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>meeting_held_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>heldDateTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tempcount1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>heldDateTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tempcount2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcount2</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcount1</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Appointment_Scheduled_For</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_totalCountalldate</name>
        <label>Copy 2 of totalCountalldate</label>
        <locationX>50</locationX>
        <locationY>2111</locationY>
        <assignmentItems>
            <assignToReference>tempcount1</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Appointment_Scheduled_For</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcount2</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>MeetingPipelineDatecollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeetingPipelineTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tempcount1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeetingPipelineTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tempcount2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcount1</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcount2</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Qualified_Meeting_Held_Date_QAL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_totalCountalldate</name>
        <label>Copy 3 of totalCountalldate</label>
        <locationX>50</locationX>
        <locationY>2471</locationY>
        <assignmentItems>
            <assignToReference>tempcount1</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>QAL_CreatedDatecollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcount2</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Qualified_Meeting_Held_Date_QAL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QALdatetotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tempcount1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QALdatetotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tempcount2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcount2</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcount1</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sales_Accepted_Lead_Date_SAL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_totalCountalldate</name>
        <label>Copy 4 of totalCountalldate</label>
        <locationX>50</locationX>
        <locationY>2831</locationY>
        <assignmentItems>
            <assignToReference>tempcount1</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>SALCreatedDatecollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcount2</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Sales_Accepted_Lead_Date_SAL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SALdateTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tempcount1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SALdateTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tempcount2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcount1</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcount2</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>QALFollowupDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>count_filterd_record</name>
        <label>count filterd record</label>
        <locationX>138</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>idcollections</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_through_ids.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>totalCountalldate</name>
        <label>totalCountalldate</label>
        <locationX>50</locationX>
        <locationY>1391</locationY>
        <assignmentItems>
            <assignToReference>tempcount1</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Appointment_Set_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcount2</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>MeetingfixedDatecollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totaltempfixedAndAppointmentScheduleFor</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tempcount1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totaltempfixedAndAppointmentScheduleFor</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tempcount2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcount1</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcount2</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>meeting_held_date</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Appointment_Scheduled_For</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Appointment Scheduled For</label>
        <locationX>50</locationX>
        <locationY>1871</locationY>
        <assignNextValueToReference>currentItem_meeting_held_date</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>getallcontactwithdatyefilled</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_meeting_held_date.Appointment_Scheduled_For__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>MeetingPipelineDatecollection</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Appointment_Set_Date</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Appointment Set Date</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <assignNextValueToReference>currentItem_meeting_held_date</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>getallcontactwithdatyefilled</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_meeting_held_date.Appointment_Set_Date__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>MeetingfixedDatecollection</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Contact_with_date_field</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Contact with date field</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNextValueToReference>currentItem_Filter_Contact_with_date_field_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_account</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Contact_with_date_field_0.Appointment_Held_Date__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Contact_with_date_field_0.QAL_Follow_up_Date__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Contact_with_date_field_0.SAL_Follow_up_Date__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Contact_with_date_field_0.Appointment_Scheduled_For__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Contact_with_date_field_0.Qualified_Meeting_Held_Date_QAL__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Contact_with_date_field_0.Sales_Accepted_Lead_Date_SAL__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Contact_with_date_field_0.Appointment_Set_Date__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Contact_with_date_field_0.Meeting_Fixed_Date__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Contact_with_date_field_0.Meeting_Held_Date__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Contact_with_date_field_0.Meeting_Pipeline_Date__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Contact_with_date_field_0.QAL_Created_Date__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Contact_with_date_field_0.SAL_Created_Date__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>loop_through_ids</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>meeting_held_date</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>meeting held date</label>
        <locationX>50</locationX>
        <locationY>1511</locationY>
        <assignNextValueToReference>currentItem_meeting_held_date</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>getallcontactwithdatyefilled</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_meeting_held_date.Appointment_Held_Date__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>MeetingHeldDatecollection</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>MeetingfixedDatecollection</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>MeetingfixedDatecollection</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <assignNextValueToReference>currentItem_meeting_held_date</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>getallcontactwithdatyefilled</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_meeting_held_date.Meeting_Fixed_Date__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>totalCountalldate</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>MeetingHeldDatecollection</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>MeetingHeldDatecollection</label>
        <locationX>50</locationX>
        <locationY>1631</locationY>
        <assignNextValueToReference>currentItem_meeting_held_date</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>getallcontactwithdatyefilled</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_meeting_held_date.Meeting_Held_Date__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Copy_1_of_totalCountalldate</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>MeetingPipelineDatecollection</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>MeetingPipelineDatecollection</label>
        <locationX>50</locationX>
        <locationY>1991</locationY>
        <assignNextValueToReference>currentItem_meeting_held_date</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>getallcontactwithdatyefilled</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_meeting_held_date.Meeting_Pipeline_Date__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Copy_2_of_totalCountalldate</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>QAL_CreatedDatecollection</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>QAL_CreatedDatecollection</label>
        <locationX>50</locationX>
        <locationY>2351</locationY>
        <assignNextValueToReference>currentItem_meeting_held_date</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>getallcontactwithdatyefilled</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_meeting_held_date.QAL_Created_Date__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Copy_3_of_totalCountalldate</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>QALFollowupDate</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>QALFollowupDate</label>
        <locationX>50</locationX>
        <locationY>2951</locationY>
        <assignNextValueToReference>currentItem_meeting_held_date</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>getallcontactwithdatyefilled</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_meeting_held_date.QAL_Follow_up_Date__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>SALFollowupDate_0</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Qualified_Meeting_Held_Date_QAL</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Qualified Meeting Held Date (QAL)</label>
        <locationX>50</locationX>
        <locationY>2231</locationY>
        <assignNextValueToReference>currentItem_meeting_held_date</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>getallcontactwithdatyefilled</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_meeting_held_date.Qualified_Meeting_Held_Date_QAL__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>QAL_CreatedDatecollection</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>SALCreatedDatecollection</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>SALCreatedDatecollection</label>
        <locationX>50</locationX>
        <locationY>2711</locationY>
        <assignNextValueToReference>currentItem_meeting_held_date</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>getallcontactwithdatyefilled</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_meeting_held_date.SAL_Created_Date__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Copy_4_of_totalCountalldate</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Sales_Accepted_Lead_Date_SAL</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Sales Accepted Lead Date (SAL)</label>
        <locationX>50</locationX>
        <locationY>2591</locationY>
        <assignNextValueToReference>currentItem_meeting_held_date</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>getallcontactwithdatyefilled</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_meeting_held_date.Sales_Accepted_Lead_Date_SAL__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>SALCreatedDatecollection</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>SALFollowupDate_0</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>SALFollowupDate</label>
        <locationX>50</locationX>
        <locationY>3071</locationY>
        <assignNextValueToReference>currentItem_meeting_held_date</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>getallcontactwithdatyefilled</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_meeting_held_date.SAL_Follow_up_Date__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>assignment2</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_account_field</name>
        <label>Check account field</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>account_field</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_account</targetReference>
            </connector>
            <label>account field</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Rollup field update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Rollup field update</label>
    <loops>
        <name>loop_through_ids</name>
        <label>loop through ids</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <collectionReference>Filter_Contact_with_date_field</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>count_filterd_record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getallcontactwithdatyefilled</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_account</name>
        <label>Get account</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Contact_with_date_field</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getallcontactwithdatyefilled</name>
        <label>getallcontactwithdatyefilled</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Appointment_Set_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>idcollections</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Field_update_record</name>
        <label>Field update record</label>
        <locationX>50</locationX>
        <locationY>3311</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Meeting_Fixed__c</field>
            <value>
                <elementReference>totaltempfixedAndAppointmentScheduleFor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Held__c</field>
            <value>
                <elementReference>heldDateTotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Pipeline__c</field>
            <value>
                <elementReference>MeetingPipelineTotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QAL_Date__c</field>
            <value>
                <elementReference>QALdatetotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QAL_Followup__c</field>
            <value>
                <elementReference>QALFollowupDates</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SAL_Date__c</field>
            <value>
                <elementReference>SALdateTotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SAL_Followup__c</field>
            <value>
                <elementReference>SALFollowupDates</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_account_field</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Appointment_Set_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Appointment_Held_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Appointment_Scheduled_For__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Meeting_Fixed_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Meeting_Held_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Sales_Accepted_Lead_Date_SAL__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Qualified_Meeting_Held_Date_QAL__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SAL_Follow_up_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SAL_Created_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>QAL_Created_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>QAL_Follow_up_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Meeting_Pipeline_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>currentItem_Filter_Contact_with_date_field_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>currentItem_meeting_held_date</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>heldDateTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>idcollections</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>meetinghelddatetotalnumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>MeetingPipelineTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>QALdatetotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>QALFollowupDates</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SALdateTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>SALFollowupDates</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>tempcount1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>tempcount2</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>totaltempfixedAndAppointmentScheduleFor</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
